Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)

lower parallelism to improve test stability
  hack/ci/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix --cache-kubeconfig for shards (#165)
  hack/ci/run-e2e-tests.sh
  internal/resources/shard/deployment.go
  test/e2e/cacheserver/cacheserver_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add initial, basic AGENTS.md
  AGENTS.md
Due: none

Deploy both external and internal front proxy with merged client CA bundle
  internal/controller/frontproxy/controller_test.go
  internal/controller/rootshard/controller_test.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/deployment_test.go
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add reconciler for a merged front proxy client CA + client CA bundle
  internal/resources/frontproxy/ca_bundle.go
  internal/resources/frontproxy/reconciler.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Let front-proxy verify against non-fp client CA (#178)
  internal/controller/frontproxy/controller_test.go
  internal/controller/rootshard/controller_test.go
  internal/resources/frontproxy/ca_bundle.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/deployment_test.go
  internal/resources/frontproxy/reconciler.go
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

feat(shard): Add audit policy options
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/audit.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/auditpolicyspec.go
  sdk/applyconfiguration/operator/v1alpha1/auditspec.go
  sdk/applyconfiguration/operator/v1alpha1/localdatakeyreference.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

feat(shard): Add audit policy options (#141)
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/audit.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/auditpolicyspec.go
  sdk/applyconfiguration/operator/v1alpha1/auditspec.go
  sdk/applyconfiguration/operator/v1alpha1/localdatakeyreference.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 7b7489f to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

docs: update local setup with etcd helm chart
  docs/content/contributing/local-setup.md
Due: none

feat: Support for topologySpreadConstraints
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/deployments.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/podspectemplate.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(cacheserver): Init Conditions and Statuses
  sdk/apis/operator/v1alpha1/cacheserver_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

collector: make MetricsCollector thread-safe with RWMutex
  internal/metrics/collector.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

docs: add comments to MetricsCollector methods
  internal/metrics/collector.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

collector: ensure ticker is stopped in MetricsCollector Start
  internal/metrics/collector.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

docs: update local setup with etcd helm chart (#180)
  docs/content/contributing/local-setup.md
Due: none

Deployed 7af0fd5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/local-setup/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update CONTRIBUTING.md (#184)
  CONTRIBUTING.md
Due: none

PR feedback
  AGENTS.md
Due: none

bump google.golang.org/grpc [CVE-2026-33186]
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add initial, basic AGENTS.md (#177)
  AGENTS.md
Due: none

bump kcp image
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

drop 0.28
  .prow.yaml
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add cache server cert support
  README.md
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/resources.go
  internal/resources/rootshard/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add missing mount into shards
  internal/resources/shard/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump image
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

make PROTOKOL not fail CI
  hack/ci/run-e2e-tests.sh
  test/e2e/cacheserver/cacheserver_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update & release prep (#188)
  .prow.yaml
  README.md
  hack/ci/run-e2e-tests.sh
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/resources.go
  internal/resources/rootshard/deployment.go
  internal/resources/shard/deployment.go
  test/e2e/cacheserver/cacheserver_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update OWNERS file with new approvers
  OWNERS
Due: none

Update OWNERS file with new approvers (#190)
  OWNERS
Due: none

Update & release prep (#188) (#191)
  .prow.yaml
  README.md
  hack/ci/run-e2e-tests.sh
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/resources.go
  internal/resources/rootshard/deployment.go
  internal/resources/shard/deployment.go
  test/e2e/cacheserver/cacheserver_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add ability to refrence OIDC client secret from secret object
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/oidccafileref.go
  sdk/applyconfiguration/operator/v1alpha1/oidcconfiguration.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

feat: Support for topologySpreadConstraints (#183)
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/deployments.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/podspectemplate.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 49a19db to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

use unrealistically low resource requests to help squeeze more out of our CI nodes
  test/e2e/virtualworkspaces/virtualworkspaces_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary
