Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

pull-kcp-operator-build-image:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.30.0
      command:
      - hack/ci/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
  ...

pull-kcp-operator-test:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-operator-test-e2e-0.28:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: release-0.28
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

pull-kcp-operator-test-e2e-default:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      resources:
        requests:
          memory: 4Gi
          cpu: 2
      securityContext:
        privileged: true

pull-kcp-operator-test-e2e-canary:
  decorate: true
  optional: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: main
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

codegen
  config/crd/bases/operator.kcp.io_kubeconfigs.yaml
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigauthorization.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigclusterrolebindings.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigspec.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

implement controller and reconciler
  cmd/main.go
  internal/client/clients.go
  internal/client/frontproxy.go
  internal/controller/kubeconfig-rbac/controller.go
  internal/controller/kubeconfig-rbac/controller_test.go
  internal/kubernetes/metadata.go
  internal/resources/kubeconfig/rbac.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

extend API types
  sdk/apis/operator/v1alpha1/kubeconfig_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

prevent automatic controller naming logic from breaking the operator
  internal/controller/cacheserver/controller.go
  internal/controller/frontproxy/controller.go
  internal/controller/kubeconfig-rbac/controller.go
  internal/controller/kubeconfig/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix copyright year
  internal/client/clients.go
  internal/client/frontproxy.go
  internal/controller/kubeconfig-rbac/controller.go
  internal/controller/kubeconfig-rbac/controller_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

appease linter
  internal/controller/kubeconfig-rbac/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

deploy operator into kind during e2e tests so it can access any pod/service inside kind
  Makefile
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  docs/content/contributing/local-setup.md
  hack/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

WIP
  hack/run-e2e-tests.sh
  internal/resources/kubeconfig/certificate.go
  test/e2e/frontproxies/frontproxies_test.go
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/proxy_test.go
  test/e2e/rootshards/rootshards_test.go
  test/e2e/shards/shards_test.go
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix nil pointer access
  internal/controller/kubeconfig-rbac/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

cleanup in the actually provisioned cluster
  internal/controller/kubeconfig-rbac/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add provisionedWorkspace field to kubeconfig status
  config/crd/bases/operator.kcp.io_kubeconfigs.yaml
  internal/resources/kubeconfig/certificate.go
  sdk/apis/operator/v1alpha1/kubeconfig_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigauthorizationstatus.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigstatus.go
  sdk/applyconfiguration/utils.go
  test/e2e/frontproxies/frontproxies_test.go
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/rootshards_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add docs
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_kubeconfigs.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  docs/content/architecture/.pages
  docs/content/architecture/index.md
  docs/content/architecture/kubeconfig.md
  internal/resources/utils/certificates.go
  internal/resources/utils/logging_test.go
  sdk/apis/operator/v1alpha1/common.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

re-enable cleanup
  test/utils/utils.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

cleanup
  test/e2e/frontproxies/frontproxies_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

reload kubeconfig before patching status
  test/e2e/kubeconfig-rbac/frontproxies_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

first unprovision the old, then provision the new cluster
  internal/controller/kubeconfig-rbac/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix tests, make them flake much, much less
  go.mod
  go.sum
  test/e2e/rootshards/proxy_test.go
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

rename to cluster because it's more generic
  config/crd/bases/operator.kcp.io_kubeconfigs.yaml
  internal/controller/kubeconfig-rbac/controller.go
  sdk/apis/operator/v1alpha1/kubeconfig_types.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigauthorizationstatus.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigclusterrolebindings.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

truly limit the number of parallel tests
  hack/ci/run-e2e-tests.sh
  hack/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

codegen
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigauthorization.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigauthorizationstatus.go
  sdk/applyconfiguration/operator/v1alpha1/kubeconfigclusterrolebindings.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bundle test
  test/e2e/shards/shards_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

clean old rbac
  config/rbac/cacheserver_editor_role.yaml
  config/rbac/cacheserver_viewer_role.yaml
  config/rbac/frontproxy_editor_role.yaml
  config/rbac/frontproxy_viewer_role.yaml
  config/rbac/kcpinstance_editor_role.yaml
  config/rbac/kcpinstance_viewer_role.yaml
  config/rbac/kubeconfig_editor_role.yaml
  config/rbac/kubeconfig_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/service_account.yaml
  config/rbac/shard_editor_role.yaml
  config/rbac/shard_viewer_role.yaml
Due: none

add more nil checks
  internal/client/clients.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix Makefile typos
  Makefile
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

refactor code to get rid of triple parameters
  internal/client/clients.go
  internal/client/frontproxy.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 380180b to main with MkDocs 1.5.3 and mike 2.1.3
  main/404.html
  main/architecture/basics/index.html
  main/architecture/front-proxy/index.html
  main/architecture/index.html
  main/architecture/kubeconfig/index.html
  main/architecture/pki/index.html
  main/contributing/continuous-integration/index.html
  main/contributing/index.html
  main/contributing/local-setup/index.html
  main/index.html
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/kubeconfigs/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/reference/index.html
  main/search/search_index.json
  main/setup/index.html
  main/setup/quickstart/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix Makefile
  .gitignore
  Makefile
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

extend sample manifests
  config/samples/operator.kcp.io_v1alpha1_frontproxy.yaml
  config/samples/operator.kcp.io_v1alpha1_rootshard.yaml
Due: none

fix: add caBundleSecretRef handling to frontProxy config
  .gitignore
  internal/resources/frontproxy/ca_bundle.go
  internal/resources/frontproxy/configmap.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/path.go
  internal/resources/frontproxy/reconciler.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

feat(shard): Add audit policy options
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/audit.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/auditpolicyspec.go
  sdk/applyconfiguration/operator/v1alpha1/auditspec.go
  sdk/applyconfiguration/operator/v1alpha1/localdatakeyreference.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 6ca6327 to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/local-setup/index.html
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Implement cleanup of leftover resources after Shard CR gets deleted
  cmd/operator/main.go
  internal/controller/shard/controller.go
  internal/controller/shard/controller_test.go
  test/e2e/shards/shards_test.go
  test/utils/wait.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update to kcp 0.30
  .prow.yaml
  README.md
  go.mod
  go.sum
  internal/resources/resources.go
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/proxy_test.go
  test/e2e/shards/shards_test.go
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump sdk
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/proxy_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Revert "clean old rbac"
  config/rbac/cacheserver_editor_role.yaml
  config/rbac/cacheserver_viewer_role.yaml
  config/rbac/frontproxy_editor_role.yaml
  config/rbac/frontproxy_viewer_role.yaml
  config/rbac/kcpinstance_editor_role.yaml
  config/rbac/kcpinstance_viewer_role.yaml
  config/rbac/kubeconfig_editor_role.yaml
  config/rbac/kubeconfig_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/service_account.yaml
  config/rbac/shard_editor_role.yaml
  config/rbac/shard_viewer_role.yaml
Due: none

remove only viewer/editor roles
  config/rbac/cacheserver_editor_role.yaml
  config/rbac/cacheserver_viewer_role.yaml
  config/rbac/frontproxy_editor_role.yaml
  config/rbac/frontproxy_viewer_role.yaml
  config/rbac/kcpinstance_editor_role.yaml
  config/rbac/kcpinstance_viewer_role.yaml
  config/rbac/kubeconfig_editor_role.yaml
  config/rbac/kubeconfig_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/shard_editor_role.yaml
  config/rbac/shard_viewer_role.yaml
Due: none

ensure e2e tests run when changing the config
  .prow.yaml
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

use Docker registry mirror if available
  hack/ci/run-e2e-tests.sh
  hack/lib.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
