Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)

ensure socat gets killed
  hack/lib.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Implement cleanup of leftover resources after Shard CR gets deleted
  cmd/operator/main.go
  go.mod
  go.sum
  internal/controller/shard/controller.go
  internal/controller/shard/controller_test.go
  test/e2e/shards/shards_test.go
  test/utils/wait.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

test: add tests for CABundleSecretRef handling in frontProxy
  internal/resources/frontproxy/configmap_test.go
  internal/resources/frontproxy/deployment_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix unit test
  internal/controller/cacheserver/controller_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

codegen
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheconfig.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardcacheconfig.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardspec.go
  sdk/applyconfiguration/operator/v1alpha1/shardcacheconfig.go
  sdk/applyconfiguration/operator/v1alpha1/shardspec.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add cacheRef to both shard specs
  sdk/apis/operator/v1alpha1/rootshard_types.go
  sdk/apis/operator/v1alpha1/shard_types.go
  test/utils/deploy.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

use the cache ref to mount the cache kubeconfig into shard deployments
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/issuers.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/resources.go
  internal/resources/rootshard/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

prepare resources for the cache server
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/cacheserver/service.go
  internal/resources/resources.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/rootshard_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

update RBAC
  internal/controller/cacheserver/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add owner refs
  internal/controller/cacheserver/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

lint
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add missing scratch volume for etcd
  internal/resources/cacheserver/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

provide basic usage docs
  docs/content/architecture/.pages
  docs/content/architecture/cache-server.md
  docs/content/architecture/index.md
Due: none

implement reconciling part
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/kubeconfigs.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

deploy issuer for the generated CA
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/issuers.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add basic e2e test
  test/e2e/cacheserver/cacheserver_test.go
  test/utils/deploy.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

codegen
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

remove etcd options from CacheServer
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix front-proxy probe URLs
  internal/resources/frontproxy/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

enable bundle feature gate when running make test-e2e
  hack/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix missing secretTemplate labels
  internal/resources/rootshard/certificates.go
  internal/resources/shard/certificates.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Claude suggested adding these to be able to handle legacy TLS environments
  internal/resources/frontproxy/certificates.go
  internal/resources/rootshard/certificates.go
  internal/resources/shard/certificates.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

set readonly flag on secret mounts
  internal/resources/utils/secrets.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add missing probes to all deployments
  internal/resources/frontproxy/deployment.go
  internal/resources/rootshard/deployment.go
  internal/resources/shard/deployment.go
  internal/resources/utils/shard.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump cert-manager to latest version in examples/scripts
  docs/content/contributing/continuous-integration/index.md
  docs/content/contributing/local-setup.md
  go.mod
  go.sum
  hack/ci/run-e2e-tests.sh
  hack/run-e2e-tests.sh
  test/crds/README.md
  test/crds/cert-manager.crds.yaml
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add chore label to the PR template
  .github/pull_request_template.md
Due: none

adjust unit test
  internal/resources/frontproxy/deployment_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Fix defaulting LATEST
  docs/scripts/deploy-docs.sh
Due: none

Deployed 4699b9f to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 176f50c to v0.4 with MkDocs 1.5.3 and mike 2.1.3
  latest/404.html
  latest/architecture/basics/index.html
  latest/architecture/front-proxy/index.html
  latest/architecture/index.html
  latest/architecture/pki/index.html
  latest/contributing/architecture/index.html
  latest/contributing/continuous-integration/index.html
  latest/contributing/index.html
  latest/contributing/local-setup/index.html
  latest/contributing/releasing/index.html
  latest/index.html
  latest/reference/crd/operator.kcp.io/frontproxies/index.html
  latest/reference/crd/operator.kcp.io/kubeconfigs/index.html
  latest/reference/crd/operator.kcp.io/rootshards/index.html
  latest/reference/crd/operator.kcp.io/shards/index.html
  latest/reference/index.html
  latest/setup/index.html
  latest/setup/quickstart/index.html
  v0.4/reference/crd/operator.kcp.io/frontproxies/index.html
  v0.4/reference/crd/operator.kcp.io/kubeconfigs/index.html
  v0.4/reference/crd/operator.kcp.io/rootshards/index.html
  v0.4/search/search_index.json
  v0.4/sitemap.xml
  v0.4/sitemap.xml.gz
  versions.json
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 24e13a5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/continuous-integration/index.html
  main/contributing/local-setup/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

prevent Go from printing 'command-line arguments' after building the binaries
  Dockerfile
  Makefile
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary
