Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

pull-kcp-operator-build-image:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.30.0
      command:
      - hack/ci/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
  ...

pull-kcp-operator-test:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-operator-test-e2e-0.28:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: release-0.28
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

pull-kcp-operator-test-e2e-default:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      resources:
        requests:
          memory: 4Gi
          cpu: 2
      securityContext:
        privileged: true

pull-kcp-operator-test-e2e-canary:
  decorate: true
  optional: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: main
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

add cacheRef to both shard specs
  sdk/apis/operator/v1alpha1/rootshard_types.go
  sdk/apis/operator/v1alpha1/shard_types.go
  test/utils/deploy.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

prepare resources for the cache server
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/kubeconfigs.go
  internal/resources/cacheserver/service.go
  internal/resources/resources.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/rootshard_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

remove etcd options from CacheServer
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

implement reconciling part
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/kubeconfigs.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

deploy issuer for the generated CA
  internal/controller/cacheserver/controller.go
  internal/resources/cacheserver/issuers.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

provide basic usage docs
  docs/content/architecture/.pages
  docs/content/architecture/cache-server.md
  docs/content/architecture/index.md
Due: none

lint
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

update RBAC
  internal/controller/cacheserver/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

apply improvements from #149
  internal/resources/cacheserver/certificates.go
  internal/resources/cacheserver/deployment.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

PR feedback
  docs/content/architecture/cache-server.md
Due: none

Deployed 8504057 to main with MkDocs 1.5.3 and mike 2.1.3
  main/architecture/basics/index.html
  main/architecture/cache-server/index.html
  main/architecture/front-proxy/index.html
  main/architecture/index.html
  main/architecture/kubeconfig/index.html
  main/architecture/pki/index.html
  main/contributing/continuous-integration/index.html
  main/contributing/index.html
  main/contributing/local-setup/index.html
  main/contributing/releasing/index.html
  main/index.html
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/kubeconfigs/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/reference/index.html
  main/search/search_index.json
  main/setup/index.html
  main/setup/quickstart/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix local-cluster-admin kubeconfigs for shards not pointing to the shards
  internal/resources/shard/kubeconfigs.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix race condition in metrics
  internal/controller/frontproxy/controller.go
  internal/controller/kubeconfig/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/metrics/helpers.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix condition metrics never expiring when objects get deleted
  internal/controller/frontproxy/controller.go
  internal/controller/kubeconfig/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/metrics/collector.go
  internal/metrics/helpers.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump golangci-lint
  .golangci.yml
  Makefile
  hack/tools.checksums
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

add revision labels to PodTemplates in order to automatically rotate Deployments
  internal/controller/cacheserver/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/reconciling/modifier/revision_labels.go
  internal/resources/frontproxy/reconciler.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

feat(shard): Add audit policy options
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/audit.go
  sdk/apis/operator/v1alpha1/common.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/auditpolicyspec.go
  sdk/applyconfiguration/operator/v1alpha1/auditspec.go
  sdk/applyconfiguration/operator/v1alpha1/localdatakeyreference.go
  sdk/applyconfiguration/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix --cache-kubeconfig for shards
  internal/resources/shard/deployment.go
  test/e2e/cacheserver/cacheserver_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 889c077 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

service account support
  config/samples/operator.kcp.io_v1alpha1_frontproxy.yaml
  config/samples/operator.kcp.io_v1alpha1_rootshard.yaml
  config/samples/operator.kcp.io_v1alpha1_shard.yaml
Due: none

service account support (#168)
  config/samples/operator.kcp.io_v1alpha1_frontproxy.yaml
  config/samples/operator.kcp.io_v1alpha1_rootshard.yaml
  config/samples/operator.kcp.io_v1alpha1_shard.yaml
Due: none

bump OTEL dependencies (CVE-2026-24051)
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add caBundle as backendCA for frontProxy Path ConfigMap (#148)
  .gitignore
  internal/resources/frontproxy/ca_bundle.go
  internal/resources/frontproxy/configmap.go
  internal/resources/frontproxy/configmap_test.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/deployment_test.go
  internal/resources/frontproxy/path.go
  internal/resources/frontproxy/reconciler.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump OTEL dependencies (CVE-2026-24051) (#169)
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

hack/ci/run-e2e-tests.sh exports KCP_RELEASE env var
  hack/ci/run-e2e-tests.sh
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

added support for external etcd to CacheServer
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  internal/resources/cacheserver/deployment.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
  test/e2e/cacheserver/cacheserver_test.go
  test/utils/deploy.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

[release-0.4] bump OTEL dependencies (CVE-2026-24051) (#169)
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 96aafa1 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

[release-0.4] bump OTEL dependencies (CVE-2026-24051) (#169) (#172)
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

added spec.replicas to CacheServer
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  internal/resources/cacheserver/deployment.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

e2e: run DeployCacheServerWithExternalEtcd with two cache-server replicas
  test/e2e/cacheserver/cacheserver_test.go
  test/utils/deploy.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

docs: documented HA setup for CacheServer deployments
  docs/content/architecture/cache-server.md
Due: none

bump kcp v0.30.1
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump image
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update kcp to 0.30.1 (#175)
  go.mod
  go.sum
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

review: remove defaulting to replicas=1
  test/utils/deploy.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

default to two replicas
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  internal/resources/cacheserver/deployment.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
