Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

pull-kcp-operator-build-image:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.30.0
      command:
      - hack/ci/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
  ...

pull-kcp-operator-test:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-operator-test-e2e-0.28:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: release-0.28
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

pull-kcp-operator-test-e2e-default:
  decorate: true
  optional: false
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      resources:
        requests:
          memory: 4Gi
          cpu: 2
      securityContext:
        privileged: true

pull-kcp-operator-test-e2e-canary:
  decorate: true
  optional: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.9-1
      command:
      - hack/ci/run-e2e-tests.sh
      env:
      - name: KCP_TAG
        value: main
      resources:
        requests:
          memory: 4Gi
          cpu: 2
  ...

codegen
  config/rbac/role.yaml
Due: none

Add copies for deploy API in internal/resources/
  internal/resources/resources.go
  internal/resources/utils/shard.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add internal/controller/compiled*
  internal/controller/compiledcacheserver/controller.go
  internal/controller/compiledcacheserver/controller_test.go
  internal/controller/compiledfrontproxy/controller.go
  internal/controller/compiledfrontproxy/controller_test.go
  internal/controller/compiledrootshard/controller.go
  internal/controller/compiledrootshard/controller_test.go
  internal/controller/compiledshard/controller.go
  internal/controller/compiledshard/controller_test.go
  internal/controller/compiledvirtualworkspace/controller.go
  internal/controller/compiledvirtualworkspace/controller_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add internal/resources/compiled*
  internal/resources/compiledcacheserver/deployment.go
  internal/resources/compiledcacheserver/deployment_test.go
  internal/resources/compiledcacheserver/service.go
  internal/resources/compiledfrontproxy/configmap.go
  internal/resources/compiledfrontproxy/configmap_test.go
  internal/resources/compiledfrontproxy/deployment.go
  internal/resources/compiledfrontproxy/deployment_test.go
  internal/resources/compiledfrontproxy/path.go
  internal/resources/compiledfrontproxy/reconciler.go
  internal/resources/compiledfrontproxy/secrets.go
  internal/resources/compiledfrontproxy/service.go
  internal/resources/compiledfrontproxy/service_test.go
  internal/resources/compiledrootshard/deployment.go
  internal/resources/compiledrootshard/deployment_test.go
  internal/resources/compiledrootshard/service.go
  internal/resources/compiledshard/deployment.go
  internal/resources/compiledshard/deployment_test.go
  internal/resources/compiledshard/service.go
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/service.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Watch Secrets in the same namespace to wake controllers
  internal/controller/compiledcacheserver/controller.go
  internal/controller/compiledfrontproxy/controller.go
  internal/controller/compiledrootshard/controller.go
  internal/controller/compiledshard/controller.go
  internal/controller/compiledvirtualworkspace/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire deploy controllers
  cmd/operator/main.go
  internal/controller/util/test.go
  internal/metrics/helpers.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add util.EnqueueAllInNamespace
  internal/controller/util/util.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed b091d76 to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/local-setup/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

[4/6] Add Compiled* controllers (#282)
  cmd/operator/main.go
  config/rbac/role.yaml
  internal/controller/compiledcacheserver/controller.go
  internal/controller/compiledcacheserver/controller_test.go
  internal/controller/compiledfrontproxy/controller.go
  internal/controller/compiledfrontproxy/controller_test.go
  internal/controller/compiledrootshard/controller.go
  internal/controller/compiledrootshard/controller_test.go
  internal/controller/compiledshard/controller.go
  internal/controller/compiledshard/controller_test.go
  internal/controller/compiledvirtualworkspace/controller.go
  internal/controller/compiledvirtualworkspace/controller_test.go
  internal/controller/util/test.go
  internal/controller/util/util.go
  internal/metrics/helpers.go
  internal/resources/compiledcacheserver/deployment.go
  internal/resources/compiledcacheserver/deployment_test.go
  internal/resources/compiledcacheserver/service.go
  internal/resources/compiledfrontproxy/configmap.go
  internal/resources/compiledfrontproxy/configmap_test.go
  internal/resources/compiledfrontproxy/deployment.go
  internal/resources/compiledfrontproxy/deployment_test.go
  internal/resources/compiledfrontproxy/path.go
  internal/resources/compiledfrontproxy/reconciler.go
  internal/resources/compiledfrontproxy/secrets.go
  internal/resources/compiledfrontproxy/service.go
  internal/resources/compiledfrontproxy/service_test.go
  internal/resources/compiledrootshard/deployment.go
  internal/resources/compiledrootshard/deployment_test.go
  internal/resources/compiledrootshard/service.go
  internal/resources/compiledshard/deployment.go
  internal/resources/compiledshard/deployment_test.go
  internal/resources/compiledshard/service.go
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/service.go
  internal/resources/resources.go
  internal/resources/utils/shard.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add modifier.Capture to collect reconciled objects
  internal/reconciling/modifier/capture.go
  internal/reconciling/modifier/capture_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Forward certificate revisions to compiled objects
  internal/controller/cacheserver/controller.go
  internal/controller/frontproxy/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/controller/virtualworkspace/controller.go
  internal/resources/cacheserver/compiled.go
  internal/resources/frontproxy/compiled.go
  internal/resources/rootshard/compiled.go
  internal/resources/shard/compiled.go
  internal/resources/virtualworkspace/compiled.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add certificate revision helpers
  internal/controller/util/util.go
  internal/controller/util/util_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Update internal/resources/ and internal/controllers/ to produce Compiled* instead of Deployments
  internal/controller/cacheserver/controller.go
  internal/controller/frontproxy/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/controller/shard/controller_test.go
  internal/controller/virtualworkspace/controller.go
  internal/resources/cacheserver/compiled.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/deployment_test.go
  internal/resources/cacheserver/paths.go
  internal/resources/cacheserver/service.go
  internal/resources/frontproxy/compiled.go
  internal/resources/frontproxy/configmap.go
  internal/resources/frontproxy/configmap_test.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/deployment_test.go
  internal/resources/frontproxy/reconciler.go
  internal/resources/frontproxy/secrets.go
  internal/resources/frontproxy/service.go
  internal/resources/frontproxy/service_test.go
  internal/resources/resources.go
  internal/resources/rootshard/compiled.go
  internal/resources/rootshard/deployment.go
  internal/resources/rootshard/deployment_test.go
  internal/resources/rootshard/paths.go
  internal/resources/rootshard/service.go
  internal/resources/shard/compiled.go
  internal/resources/shard/deployment.go
  internal/resources/shard/deployment_test.go
  internal/resources/shard/paths.go
  internal/resources/shard/service.go
  internal/resources/virtualworkspace/compiled.go
  internal/resources/virtualworkspace/deployment.go
  internal/resources/virtualworkspace/service.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Label compiled objects with their component labels
  internal/resources/cacheserver/compiled.go
  internal/resources/frontproxy/compiled.go
  internal/resources/rootshard/compiled.go
  internal/resources/shard/compiled.go
  internal/resources/virtualworkspace/compiled.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add util.GetCompiledAvailableCondition
  internal/controller/util/util.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Skip TestCreateShard outside the single topology
  test/e2e/shards/shards_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Default the e2e harness to the single topology
  Makefile
  hack/ci/run-e2e-tests.sh
  hack/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add e2e topologies
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/shards/shards_test.go
  test/utils/topology.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add --enabled-controller-groups to toggle controller groups
  cmd/operator/main.go
  internal/config/controllergroups.go
  internal/config/controllergroups_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Split client into configClient and workloadClient
  hack/run-e2e-tests.sh
  test/e2e/cacheserver/cacheserver_test.go
  test/e2e/frontproxies/frontproxies_test.go
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/proxy_test.go
  test/e2e/rootshards/rootshards_test.go
  test/e2e/shards/shards_test.go
  test/e2e/virtualworkspaces/virtualworkspaces_test.go
  test/utils/deploy.go
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add test/syncer/ to sync between config and workload in e2e
  test/syncer/main.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add single and config-workload e2e topologies
  Makefile
  hack/ci/run-e2e-tests.sh
  hack/ci/testdata/config/kustomization.yaml
  hack/ci/testdata/single/kustomization.yaml
  hack/ci/testdata/workload/kustomization.yaml
  hack/run-e2e-tests.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

[5/6] Rewrite existing controllers to produce Compiled* objects (#283)
  config/rbac/role.yaml
  internal/controller/cacheserver/controller.go
  internal/controller/frontproxy/controller.go
  internal/controller/rootshard/controller.go
  internal/controller/shard/controller.go
  internal/controller/shard/controller_test.go
  internal/controller/util/util.go
  internal/controller/util/util_test.go
  internal/controller/virtualworkspace/controller.go
  internal/reconciling/modifier/capture.go
  internal/reconciling/modifier/capture_test.go
  internal/resources/cacheserver/compiled.go
  internal/resources/cacheserver/deployment.go
  internal/resources/cacheserver/deployment_test.go
  internal/resources/cacheserver/paths.go
  internal/resources/cacheserver/service.go
  internal/resources/frontproxy/compiled.go
  internal/resources/frontproxy/configmap.go
  internal/resources/frontproxy/configmap_test.go
  internal/resources/frontproxy/deployment.go
  internal/resources/frontproxy/deployment_test.go
  internal/resources/frontproxy/reconciler.go
  internal/resources/frontproxy/secrets.go
  internal/resources/frontproxy/service.go
  internal/resources/frontproxy/service_test.go
  internal/resources/resources.go
  internal/resources/rootshard/compiled.go
  internal/resources/rootshard/deployment.go
  internal/resources/rootshard/deployment_test.go
  internal/resources/rootshard/paths.go
  internal/resources/rootshard/service.go
  internal/resources/shard/compiled.go
  internal/resources/shard/deployment.go
  internal/resources/shard/deployment_test.go
  internal/resources/shard/paths.go
  internal/resources/shard/service.go
  internal/resources/virtualworkspace/compiled.go
  internal/resources/virtualworkspace/deployment.go
  internal/resources/virtualworkspace/service.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

[6/6] Split controllers int two groups and add two-cluster test topology (#284)
  Makefile
  cmd/operator/main.go
  hack/ci/run-e2e-tests.sh
  hack/ci/testdata/config/kustomization.yaml
  hack/ci/testdata/single/kustomization.yaml
  hack/ci/testdata/workload/kustomization.yaml
  hack/run-e2e-tests.sh
  internal/config/controllergroups.go
  internal/config/controllergroups_test.go
  test/e2e/cacheserver/cacheserver_test.go
  test/e2e/frontproxies/frontproxies_test.go
  test/e2e/kubeconfig-rbac/frontproxies_test.go
  test/e2e/rootshards/proxy_test.go
  test/e2e/rootshards/rootshards_test.go
  test/e2e/shards/shards_test.go
  test/e2e/virtualworkspaces/virtualworkspaces_test.go
  test/syncer/main.go
  test/utils/deploy.go
  test/utils/topology.go
  test/utils/utils.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Copy labels and annotation from RootShard,Shard,... to CompiledRootShard,...
  internal/resources/cacheserver/compiled.go
  internal/resources/frontproxy/compiled.go
  internal/resources/rootshard/compiled.go
  internal/resources/shard/compiled.go
  internal/resources/virtualworkspace/compiled.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Switch to multicluster-runtime
  cmd/operator/main.go
  go.mod
  go.sum
  pkg/controller/bundle/controller.go
  pkg/controller/cacheserver/controller.go
  pkg/controller/cacheserver/controller_test.go
  pkg/controller/compiledcacheserver/controller.go
  pkg/controller/compiledcacheserver/controller_test.go
  pkg/controller/compiledfrontproxy/controller.go
  pkg/controller/compiledfrontproxy/controller_test.go
  pkg/controller/compiledrootshard/controller.go
  pkg/controller/compiledrootshard/controller_test.go
  pkg/controller/compiledshard/controller.go
  pkg/controller/compiledshard/controller_test.go
  pkg/controller/compiledvirtualworkspace/controller.go
  pkg/controller/compiledvirtualworkspace/controller_test.go
  pkg/controller/frontproxy/controller.go
  pkg/controller/frontproxy/controller_test.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/kubeconfig-rbac/controller_test.go
  pkg/controller/kubeconfig/controller.go
  pkg/controller/kubeconfig/controller_test.go
  pkg/controller/rootshard/controller.go
  pkg/controller/rootshard/controller_test.go
  pkg/controller/setup.go
  pkg/controller/shard/controller.go
  pkg/controller/shard/controller_test.go
  pkg/controller/util/test.go
  pkg/controller/util/util.go
  pkg/controller/virtualworkspace/controller.go
  pkg/controller/virtualworkspace/controller_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Thread engage options to every controller so downstream can filter engagement
  pkg/controller/bundle/controller.go
  pkg/controller/cacheserver/controller.go
  pkg/controller/compiledcacheserver/controller.go
  pkg/controller/compiledfrontproxy/controller.go
  pkg/controller/compiledrootshard/controller.go
  pkg/controller/compiledshard/controller.go
  pkg/controller/compiledvirtualworkspace/controller.go
  pkg/controller/frontproxy/controller.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/kubeconfig/controller.go
  pkg/controller/rootshard/controller.go
  pkg/controller/setup.go
  pkg/controller/shard/controller.go
  pkg/controller/virtualworkspace/controller.go
Due: none

Add util.Engage{For,Watches,Owns}
  pkg/controller/util/util.go
Due: none

De-embed client
  pkg/controller/bundle/controller.go
  pkg/controller/cacheserver/controller.go
  pkg/controller/compiledcacheserver/controller.go
  pkg/controller/compiledfrontproxy/controller.go
  pkg/controller/compiledrootshard/controller.go
  pkg/controller/compiledshard/controller.go
  pkg/controller/compiledvirtualworkspace/controller.go
  pkg/controller/frontproxy/controller.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/kubeconfig/controller.go
  pkg/controller/rootshard/controller.go
  pkg/controller/shard/controller.go
  pkg/controller/virtualworkspace/controller.go
Due: none

Thread client through as param
  pkg/controller/bundle/controller.go
  pkg/controller/cacheserver/controller.go
  pkg/controller/compiledcacheserver/controller.go
  pkg/controller/compiledfrontproxy/controller.go
  pkg/controller/compiledrootshard/controller.go
  pkg/controller/compiledshard/controller.go
  pkg/controller/compiledvirtualworkspace/controller.go
  pkg/controller/frontproxy/controller.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/kubeconfig/controller.go
  pkg/controller/rootshard/controller.go
  pkg/controller/shard/controller.go
  pkg/controller/virtualworkspace/controller.go
Due: none

Move controller groups to pkg/controller
  cmd/operator/main.go
  pkg/controller/setup.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add pkg/client.Endpoint and .Addresser
  internal/resources/resources.go
  pkg/client/address.go
  pkg/client/address_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add pkg/controller.Options
  cmd/operator/main.go
  pkg/controller/setup.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire Addresser and Endpoint
  pkg/client/clients.go
  pkg/client/frontproxy.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/setup.go
  pkg/controller/shard/controller.go
Due: none

Rename util.SingleCluster to util.FakeSingleCluster
  pkg/controller/cacheserver/controller_test.go
  pkg/controller/compiledcacheserver/controller_test.go
  pkg/controller/compiledfrontproxy/controller_test.go
  pkg/controller/compiledrootshard/controller_test.go
  pkg/controller/compiledshard/controller_test.go
  pkg/controller/compiledvirtualworkspace/controller_test.go
  pkg/controller/frontproxy/controller_test.go
  pkg/controller/kubeconfig-rbac/controller_test.go
  pkg/controller/kubeconfig/controller_test.go
  pkg/controller/rootshard/controller_test.go
  pkg/controller/shard/controller_test.go
  pkg/controller/util/test.go
  pkg/controller/virtualworkspace/controller_test.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
