Repository kcp-dev/kcp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Path conditions:
  pull-kcp-operator-build-image: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack)
  pull-kcp-operator-test: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-0.28: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-default: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)
  pull-kcp-operator-test-e2e-canary: any of: (Dockerfile|Makefile|.prow.yaml|go.mod|go.sum|cmd|internal|sdk|hack|test)

add ExtraVolumes and ExtraVolumeMounts to CommonShardSpec
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledfrontproxies.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledrootshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledvirtualworkspaces.yaml
  internal/resources/utils/extravolumes_test.go
  internal/resources/utils/shard.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/commonshardspec.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardspec.go
  sdk/applyconfiguration/operator/v1alpha1/shardspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

wire in ExtraVolumes and ExtraVolumeMounts for CacheServer, FrontProxy, and VirtualWorkspace; wire in ExtraArgs for CacheServer
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_virtualworkspaces.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledcacheservers.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledfrontproxies.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledrootshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledvirtualworkspaces.yaml
  internal/resources/compiledcacheserver/deployment.go
  internal/resources/compiledfrontproxy/deployment.go
  internal/resources/compiledvirtualworkspace/deployment.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/frontproxy_types.go
  sdk/apis/operator/v1alpha1/rootshard_types.go
  sdk/apis/operator/v1alpha1/virtualworkspace_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
  sdk/applyconfiguration/operator/v1alpha1/frontproxyspec.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardproxyspec.go
  sdk/applyconfiguration/operator/v1alpha1/virtualworkspacespec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add ExtraVolumes and ExtraVolumeMounts to CRDs, add ExtraArgs to CacheServer (#290)
  config/crd/bases/operator.kcp.io_cacheservers.yaml
  config/crd/bases/operator.kcp.io_frontproxies.yaml
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  config/crd/bases/operator.kcp.io_virtualworkspaces.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledcacheservers.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledfrontproxies.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledrootshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledvirtualworkspaces.yaml
  internal/resources/compiledcacheserver/deployment.go
  internal/resources/compiledfrontproxy/deployment.go
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/utils/extravolumes_test.go
  internal/resources/utils/shard.go
  sdk/apis/operator/v1alpha1/cacheserver_types.go
  sdk/apis/operator/v1alpha1/frontproxy_types.go
  sdk/apis/operator/v1alpha1/rootshard_types.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/virtualworkspace_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/cacheserverspec.go
  sdk/applyconfiguration/operator/v1alpha1/commonshardspec.go
  sdk/applyconfiguration/operator/v1alpha1/frontproxyspec.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardproxyspec.go
  sdk/applyconfiguration/operator/v1alpha1/rootshardspec.go
  sdk/applyconfiguration/operator/v1alpha1/shardspec.go
  sdk/applyconfiguration/operator/v1alpha1/virtualworkspacespec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 4d6736d to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/frontproxies/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add init container & kubeconfig to VirtualWorkspace deployer
  config/crd/bases/operator.kcp.io_virtualworkspaces.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledrootshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledvirtualworkspaces.yaml
  config/samples/operator.kcp.io_v1alpha1_virtualworkspace_custom.yaml
  docs/content/architecture/index.md
  docs/content/architecture/virtual-workspaces.md
  hack/ci/testdata/mock-vw/Dockerfile
  hack/run-e2e-tests.sh
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
  sdk/apis/operator/v1alpha1/virtualworkspace_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/virtualworkspaceinitcontainer.go
  sdk/applyconfiguration/operator/v1alpha1/virtualworkspacespec.go
  sdk/applyconfiguration/utils.go
  test/e2e/virtualworkspaces/custom_test.go
  test/mock-virtualworkspace/main.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Fix CI tests
  hack/ci/run-e2e-tests.sh
  hack/ci/testdata/mock-vw/Dockerfile
  test/e2e/virtualworkspaces/custom_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire in volumes to init containers
  config/crd/bases/operator.kcp.io_virtualworkspaces.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledrootshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledshards.yaml
  config/crd/deploy/bases/deploy.operator.kcp.io_compiledvirtualworkspaces.yaml
  docs/content/architecture/virtual-workspaces.md
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
  sdk/apis/operator/v1alpha1/virtualworkspace_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/virtualworkspaceinitcontainer.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Remove mandatory flags
  config/samples/operator.kcp.io_v1alpha1_virtualworkspace_custom.yaml
  docs/content/architecture/virtual-workspaces.md
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
  test/e2e/virtualworkspaces/custom_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed db3789b to main with MkDocs 1.5.3 and mike 2.1.3
  main/architecture/index.html
  main/architecture/virtual-workspaces/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update support table
  README.md
  docs/content/README.md
Due: none

Update support table (#291)
  README.md
  docs/content/README.md
Due: none

Deployed 30972fd to main with MkDocs 1.5.3 and mike 2.1.3
  main/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Add pkg/controller.Options
  cmd/operator/main.go
  pkg/controller/setup.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire Addresser and Endpoint
  pkg/client/clients.go
  pkg/client/frontproxy.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/setup.go
  pkg/controller/shard/controller.go
Due: none

Copy labels and annotation from RootShard,Shard,... to CompiledRootShard,...
  internal/resources/cacheserver/compiled.go
  internal/resources/frontproxy/compiled.go
  internal/resources/rootshard/compiled.go
  internal/resources/shard/compiled.go
  internal/resources/virtualworkspace/compiled.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add pkg/client.Endpoint and .Addresser
  internal/resources/resources.go
  pkg/client/address.go
  pkg/client/address_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add `--shard-external-url` and `--cache-kubeconfig` for VW again
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
  test/e2e/virtualworkspaces/custom_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Accept --shard-external-url and --cache-kubeconfig in mock-vw
  test/mock-virtualworkspace/main.go
Due: pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Add `--shard-external-url` and `--cache-kubeconfig` for VW again (#292)
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
  test/e2e/virtualworkspaces/custom_test.go
  test/mock-virtualworkspace/main.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Allow configuring how components are dialed (#287)
  cmd/operator/main.go
  internal/resources/cacheserver/compiled.go
  internal/resources/frontproxy/compiled.go
  internal/resources/resources.go
  internal/resources/rootshard/compiled.go
  internal/resources/shard/compiled.go
  internal/resources/virtualworkspace/compiled.go
  pkg/client/address.go
  pkg/client/address_test.go
  pkg/client/clients.go
  pkg/client/frontproxy.go
  pkg/controller/kubeconfig-rbac/controller.go
  pkg/controller/setup.go
  pkg/controller/shard/controller.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

go mod
  go.mod
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Deployed 406169b to main with MkDocs 1.5.3 and mike 2.1.3
  main/architecture/kubeconfig/index.html
  main/architecture/virtual-workspaces/index.html
  main/contributing/local-setup/index.html
  main/contributing/releasing/index.html
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/setup/quickstart/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

VirtualWorkspace sample
  .gitignore
  config/samples/operator.kcp.io_v1alpha1_rootshard.yaml
  config/samples/operator.kcp.io_v1alpha1_shard.yaml
  config/samples/virtual-workspaces/README.md
  config/samples/virtual-workspaces/access.yaml
  config/samples/virtual-workspaces/ephemeral-resources.yaml
  config/samples/virtual-workspaces/mcp.yaml
  docs/content/setup/gateway-api.md
  hack/gateway-api-setup.sh
  internal/resources/compiledvirtualworkspace/deployment.go
  internal/resources/compiledvirtualworkspace/deployment_test.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

VW patch work
  config/samples/virtual-workspaces/access.yaml
  config/samples/virtual-workspaces/ephemeral-resources.yaml
  config/samples/virtual-workspaces/mcp.yaml
  docs/content/architecture/virtual-workspaces.md
  hack/gateway-api-setup.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump go version for security fixes
  .github/workflows/docs-gen-and-push.yaml
  .prow.yaml
  Dockerfile
  go.mod
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump grpc version for security fixes
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

bump cel-go version for security fixes
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix: Reintroduce deprecated allowPaths in webhook field
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  internal/resources/utils/authorization.go
  sdk/apis/operator/v1alpha1/shard_types.go
  sdk/apis/operator/v1alpha1/zz_generated.deepcopy.go
  sdk/applyconfiguration/operator/v1alpha1/authorizationwebhookspec.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

fix: Deprecation comment was misleading
  config/crd/bases/operator.kcp.io_rootshards.yaml
  config/crd/bases/operator.kcp.io_shards.yaml
  sdk/apis/operator/v1alpha1/shard_types.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire scripts
  hack/gateway-api-setup.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

Wire in more complex optional test
  .github/workflows/contrib-e2e.yaml
  contrib/README.md
  contrib/deploy.sh
  contrib/kcp/deploy.sh
  contrib/kcp/templates/frontproxy-requestheader-patch.json
  contrib/kcp/templates/gateway.yaml
  contrib/kcp/templates/kcp.yaml
  contrib/kcp/templates/operator-rbac.yaml
  contrib/lib.sh
  contrib/templates/workspace.yaml
  contrib/virtualworkspaces/access/deploy.sh
  contrib/virtualworkspaces/access/templates/apibinding-consumer.yaml
  contrib/virtualworkspaces/access/templates/virtualworkspace.yaml
  contrib/virtualworkspaces/access/templates/workspace-access-rbac.yaml
  contrib/virtualworkspaces/deploy.sh
  contrib/virtualworkspaces/ephemeral-resources/deploy.sh
  contrib/virtualworkspaces/ephemeral-resources/templates/virtualworkspace.yaml
  contrib/virtualworkspaces/ephemeral-resources/templates/webhook-certs.yaml
  contrib/virtualworkspaces/ephemeral-resources/templates/webhook.yaml
  contrib/virtualworkspaces/mcp/deploy.sh
  contrib/virtualworkspaces/mcp/templates/impersonator-rbac.yaml
  contrib/virtualworkspaces/mcp/templates/virtualworkspace.yaml
  docs/content/setup/gateway-api.md
  hack/gateway-api-setup.sh
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

reduce kcp size
  contrib/README.md
  contrib/kcp/templates/kcp.yaml
  contrib/lib.sh
Due: none

squaze the resources down
  contrib/README.md
  contrib/kcp/templates/kcp.yaml
  contrib/lib.sh
  contrib/virtualworkspaces/access/templates/virtualworkspace.yaml
  contrib/virtualworkspaces/ephemeral-resources/templates/virtualworkspace.yaml
  contrib/virtualworkspaces/mcp/templates/virtualworkspace.yaml
Due: none

fix docs
  docs/generators/crd-ref/config.yaml
Due: none

Deployed d8374c8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/operator.kcp.io/rootshards/index.html
  main/reference/crd/operator.kcp.io/shards/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Bump kcp to 0.33.0
  internal/resources/resources.go
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary

go mod tidy + prow
  .prow.yaml
  go.mod
  go.sum
Due: pull-kcp-operator-build-image, pull-kcp-operator-test, pull-kcp-operator-test-e2e-0.28, pull-kcp-operator-test-e2e-default, pull-kcp-operator-test-e2e-canary
